body {
    margin: 0 auto;
    padding: 0;
    background-color: gray;
}

form {
    width: 250px;
    background-color: rgb(80, 80, 144);
    padding-top: 2px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 5px 5px 30px yellow;
    border: 1px solid white;

}

h2 {
    color: white;
}

.label {
    color: white;
    
}

.label:hover, h2:hover {
    color: yellow;
    transition: 0.2s linear;
    text-shadow: 2px 2px 10px rgb(248, 248, 151);
}

.controls {
   width: 90%;
   height: 2px;
   padding: 10px;
   border: 1px solid black;
}

#button {
    padding: 10px 10px 10px 10px;
    margin: 20px 10px 10px 20px;
    background-color: yellow;
    color: black;
    font-style: italic;
    border: 1px solid white;
}

#button:hover {
    transition: 0.5s linear;
    text-shadow: 1px 1px 5px orange;
    cursor: pointer;
}

#generatedPassword {
    padding: 10px 10px 10px 10px;
    color: white;
}

.checkbox:hover {
    cursor: pointer;
}

.controls:hover {
    cursor: pointer;
    box-shadow: 2px 2px 10px white;
    transition: 0.2s linear;
}