* {
    margin: 0;
    background-color: black;
}


 p {
    text-align: center;
    color: white;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

h3 {
    color: white;
    text-align: center;
    margin: 50px
}

h3:hover {
    color:blue;
}

footer {
    background-color:  rgb(2, 2, 196);
    color: white;
    padding: 5px 5px 5px 5px;
}